table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
    font-weight: normal;
    table-layout: fixed;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
  }

  td{
      height: 25px;
  }
  tr:nth-child(even){background-color: white}
  #tiet{
      width: 90px;
  }